@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: lightgray;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    margin-top: 50px;

}

.calc-wrapper{
    width: 400px;
    background-color: grey;
    padding: 20px;
    box-shadow: 0px 3px 8px;
    border-radius: 15px;
    border: 2px black solid;
}

.calc-display{
    background-color: lightgray;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    border: 2px black solid;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.previous-operand{
    font-size: 1.5rem;
    min-height: 32px;
    color: rgba(0, 0, 0, 0.7);
}

.current-operand{
    font-size: 2.5rem;
    min-height: 64px;
    color: rgba(0, 0, 0, 1);
}

.span-2{
    grid-column: span 2;
}

.button-wrapper{
    display: flex;
    height: 250px;
    width: auto;
    padding: 10px;
    gap: 10px;
    margin-top: 10px;
}

.calc-numbers{
    display: grid;
    flex: 1;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}

.calc-operators{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

button{
    border: 2px black solid;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
}

button:hover{
    background-color: lightyellow;
}

.calc-operators button{
    background-color: lightgray;
    font-weight: bold;
}

.calc-operators button:hover{
    background-color: lightyellow;
}